/* Photo Thumbnails Styles */


/*Thumbnails*/
.thumb_container{
    display:none;
    margin: 20px 0;
}
/*Passive thumbs*/
.thumb{
    float: left;
    height: 188px;
    margin: 0 12px 23px 0;
    width: 188px;
}

.image_cont{
    cursor: pointer;
    display: table-cell;
    height: 186px;
    text-align: center;
    vertical-align: middle;
    width: 186px;
}
/*Thumbnails ToolTips*/
.thumb_tip{
    display:none;
    cursor: pointer;
    border:9px solid white;
    background: #f8f8f8;
     -moz-box-shadow: 3px 3px 10px #C4C4C4;
    -webkit-box-shadow: 3px 3px 10px #C4C4C4;
    box-shadow: 3px 3px 10px #C4C4C4;
}
.thumb .loading{
    background: url("/assets/img/ajax-loader-cir.gif") no-repeat center #f8f8f8;
}
body.IE8 .thumb_tip,
body.IE7 .thumb_tip {
    
   border:9px solid lightgray; 
}

a.thumb_tip:hover{
    text-decoration:none;
}

.thumb_tip img{
   
    /*border:1px solid  #E6E6E6;*/
}
.thumb_tip p{
    color: black;
    font-size: 12px;
    line-height: 15px;
    margin: 3px 0;
}

.thumb_tip span{
    color: #2AABE1;
    font-size: 12px;

}
.thumb  .image_cont img {
   -moz-box-shadow: 3px 3px 10px #C4C4C4;
    -webkit-box-shadow: 3px 3px 10px #C4C4C4;
    box-shadow: 3px 3px 10px #C4C4C4;
    border: 7px solid white;
    vertical-align: middle;
    background: #f8f8f8;
    display:none;
}

.thumb .image_cont .pre_img {
    background: url("/assets/img/ajax-loader-cir.gif") no-repeat center #f8f8f8;
    border: 7px solid white;
    display:inline-block;
    vertical-align: middle;
}


body.IE8 .thumb  .image_cont img,
body.IE7 .thumb  .image_cont img {
    
   border: 7px solid lightgray;
    
}

/*Collection Thumbnails*/
.bi-collection.thumb{
border: 1px solid grey;
display: block;
float: left;
height: 300px;
margin: 11px;
overflow: hidden;
position: relative;
width: 300px;
background-color:#000;
cursor:pointer;
}

a.bi-collection,
a:visited.bi-collection,
a:hover.bi-collection{
text-decoration:none;
}
a:hover.bi-collection h2{
background:#3399CC;
color:#fff;
}
/*
a:hover.bi-collection .caption{
bottom:0;
}
*/
.bi-collection .caption {
position:absolute;
bottom:0;
left:0;
width:65%;
}
.bi-collection img{
position: absolute;


}
.bi-collection h2{
background:#4D4D4D;
color: #fff;
display: inline;
font-size: 26px;
font-weight: bold;
line-height: 25px;
padding-right: 6px;
position: relative;
text-transform: uppercase;
top: -3px;
font-family:Arial;
}
.bi-collection .meta{
width:50%
}
.bi-collection span{
background:#FFF;
color: #000000;
display: inline-block;
font-size: 18px;
font-weight: bold;
line-height: 13px;
padding: 4px 6px;
}
