/* Photo Thumbnails Styles */

/*Sub Nav*/
#page_hd ul{
	display:block;
	float:left;
	height:32px;
	margin-left:11px;
	position:relative;
}
#page_hd ul li {
    display: block;
    float: left;
    margin-right: 5px;
}
#page_hd ul li.nav_last{
	margin:0;
}
#page_hd ul li a,
#page_hd ul li a:visited{
	color: #999;
    display: block;
    font-family: MyriadWeb,'Myriad Pro','Droid Sans',Arial;
    font-size: 18px;
    height: 24px;
    line-height: 31px;
    margin: 0 10px;
    padding-bottom: 5px;
    text-decoration: none;
    text-transform: uppercase;
}
#page_hd ul li a:hover {
	
	color:#29A8E2;
}
#page_hd ul li a.port_its_on,
#page_hd ul li a:hover.port_its_on{
 color:#1A1A1A;
 border-bottom:3px solid #29A8E2;
}
/*Thumbnails*/
.thumb_container{
    display:none;
    margin: 20px 0;
}
/*Passive thumbs*/
.thumb{
    float: left;
    height: 188px;
    margin: 0 12px 23px 0;
    width: 188px;
}

.image_cont{
    cursor: pointer;
    display: table-cell;
    height: 186px;
    text-align: center;
    vertical-align: middle;
    width: 186px;
}
/*Thumbnails ToolTips*/
.thumb_tip{
    display:none;
    cursor: pointer;
    background-color: #fff;
    padding: 12px;
    border:1px solid #EEEEEE;
    -moz-box-shadow: 3px 3px 10px #C4C4C4;
    -webkit-box-shadow: 3px 3px 10px #C4C4C4;
    box-shadow: 3px 3px 10px #C4C4C4;
}
a.thumb_tip:hover{
    text-decoration:none;
}

.thumb_tip img{
    border:1px solid  #E6E6E6;
}
.thumb_tip p{
    color: black;
    font-size: 12px;
    line-height: 15px;
    margin: 3px 0;
}

.thumb_tip span{
    color: #2AABE1;
    font-size: 12px;

}
.thumb  .image_cont img {
   -moz-box-shadow: 3px 3px 10px #C4C4C4;
    -webkit-box-shadow: 3px 3px 10px #C4C4C4;
    box-shadow: 3px 3px 10px #C4C4C4;
    border: 7px solid white;
    vertical-align: middle;
}
/*Collection Thumbnails*/
.bi-collection.thumb{
border: 1px solid grey;
display: block;
float: left;
height: 300px;
margin: 11px;
overflow: hidden;
position: relative;
width: 300px;
background-color:#000;
cursor:pointer;
}

a.bi-collection,
a:visited.bi-collection,
a:hover.bi-collection{
text-decoration:none;
}
a:hover.bi-collection h2{
background:#3399CC;
color:#fff;
}
/*
a:hover.bi-collection .caption{
bottom:0;
}
*/
.bi-collection .caption {
position:absolute;
bottom:0;
left:0;
width:65%;
}
.bi-collection img{
position: absolute;
-webkit-transform: scale(1);
-webkit-transition-timing-function: ease-out;
-webkit-transition-duration: 200ms;

-moz-transform: scale(1);
-moz-transition-timing-function: ease-out;
-moz-transition-duration: 200ms;

-ms-transform: scale(1);

}
a:hover.bi-collection img{
opacity:0.70;
-webkit-transform: scale(1.05);
-webkit-transition-timing-function: ease-out;
-webkit-transition-duration: 200ms;

-moz-transform: scale(1.05);
-moz-transition-timing-function: ease-out;
-moz-transition-duration: 200ms;

-ms-transform: scale(1.05);

}
.bi-collection h2{
background:#4D4D4D;
color: #fff;
display: inline;
font-size: 26px;
font-weight: bold;
line-height: 25px;
padding-right: 6px;
position: relative;
text-transform: uppercase;
top: -3px;
font-family:Arial;
}
.bi-collection .meta{
width:50%
}
.bi-collection span{
background:#FFF;
color: #000000;
display: inline-block;
font-size: 18px;
font-weight: bold;
line-height: 13px;
padding: 4px 6px;
}
